.div {
    align-items: center;
    text-align: center;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    align-items: center;
    background-color: blue
}
.getosbutton {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 400px;
    height: 150px;
    font-size: 44px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
}
.resetosbutton {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: auto;
    height: auto;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
}
.sidenav {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: blue;
    overflow-x: hidden;
    padding: 8px 0;
    text-align: left;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
}
.sidenav a:hover {
    color: #73AD21;
}
.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.textbox {
    text-align: center;
    background-color: #73AD21;
    font-size: medium;
    font-weight: bold;
}